html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #f2f3f5;
  overflow: hidden;
  color: #303133;
  font-family:
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'hiragino-kaku-gothic-pron',
    'Noto Sans CJK JP', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji', 'PingFang TC', 'Noto Sans TC';
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
